name: Generate Contribution Snake (Blue)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: IsabelMelo4

          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#1F6FEB&color_dots=#0A3069,#1F6FEB,#58A6FF,#79C0FF,#A5D6FF
            dist/github-contribution-grid-snake-dark.svg?color_snake=#58A6FF&color_dots=#0A3069,#1F6FEB,#58A6FF,#79C0FF,#A5D6FF

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
